body {
    font-family: Italic, monospace;
    margin: 1rem;
}

.flex-container {
    border: 3px dashed darkcyan;
    background-color: lightyellow;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    gap: 16px
}

video {
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.video-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px 0;
}

.video-center video {
    display: block;
    max-width: 100%;
    justify-content: center;
    align-items: center;
}
.flex-item {
    width: 350px;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 20%);
    padding: 0.5rem;
    background-color: #bbb;
    color: #333;
    
}

.item1 {
    min-height: 100px;
    ;
}

.item2 {
    min-height: 200px;
}

.item3 {
    min-height: 300px;
}